
.my-reviews-header{
    display: flex;
    justify-content: center;
    position: relative;
    align-items: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(47, 47, 47);
    padding: 20px;

}


.my-reviews-container{
    display: flex;
    flex-direction: column;
    position: absolute;
}

.review{
    display: flex;
    justify-content: center;
    max-width: 500px;
    height: 500px;
    width: calc(500px - 20px);
    padding: 10px;
    border: solid rgba(247, 125, 125, 0.892);
    border-radius: 20px;
    box-shadow: 3px 6px rgba(255, 219, 219, 0.618);
    cursor: pointer;
    margin: 10px;
    text-decoration: none;
}

.review:hover{
    box-shadow: 3px 6px rgba(252, 167, 167, 0.85);
    text-decoration: none;
}

.review-info-container{
    display: flex;
    flex-direction: column;
    gap: 20px;

}

button{
    text-decoration: none;

}

.spot-title{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 25px;
    text-decoration: none;

}

.spot-name{
    color: black;
    font-size: 30px;

}
.spot-name:hover{
    color: rgb(255, 37, 114);
}

a{
    text-decoration: none;
}

a:link{
    color: black;
}

a:hover{
    color: rgba(247, 125, 125, 0.892);
}

.review-stars{
    display: flex;
    float: right;
    justify-content: flex-end;
}

.review-info-container{
    display: flex;
    justify-content: center;
}

.the-review{
    display: flex;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    color: black;
}

.number-stars{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: black;
    font-weight: normal;
}

.edit-and-delete-container{
    display: flex;
    justify-content: center;
    align-items: center;

}

button.edit-delete-btn{
    appearance: none;
    background-color: #FAFBFC;
    border: 1px solid rgba(247, 125, 125, 0.892);
    border-radius: 6px;
    box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
    box-sizing: border-box;
    color: #24292E;
    cursor: pointer;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    list-style: none;
    padding: 6px 16px;
    transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    white-space: nowrap;
    word-wrap: break-word;
    padding-left: 20px;
    padding-right: 20px;
}

button.edit-delete-btn:hover {
    background-color: #d4d4d7;
    text-decoration: none;
    transition-duration: 0.1s;
}
